<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" >
    <test name="Regression1">
        <classes>
            <class name="BeforeHTTestNG"/>
            <!--<class name="Class1TestNG"/>-->
            <!--<class name="Class2TestNG"/>-->
            <!--<class name="Class3TestNG"/>-->
            <!--<class name="Class4TestNG"/>-->
            <!--<class name="AfterHTTestNG">-->
                <!--<methods>-->
                    <!--<include name="exit" />-->
                <!--</methods>-->
            <!--</class>-->
        </classes>
    </test>
</suite>